<div></div>
    <div></div>

    <section class="carousel">
      <div class="carousel__container">
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src={{img1URL}}
            alt=""
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">{{title0}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src={{img2URL}}
            alt=""
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">{{title2}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src={{img3URL}}
            alt=""
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">{{title3}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src={{img4URL}}
            alt=""
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">{{title4}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src={{img5URL}}
            alt=""
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">{{title5}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src={{img6URL}}
            alt=""
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">{{title6}}</h5>
          </div>
        </div>
        <div class="carousel-item">
          <img
            class="carousel-item__img"
            src={{img7URL}}
            alt=""
          />
          <div class="carousel-item__details">
            <div class="controls">
              <span class="fas fa-play-circle"></span>
              <span class="fas fa-plus-circle"></span>
            </div>
            <h5 class="carousel-item__details--title">{{title7}}</h5>
          </div>
        </div> 
      </div>
    </section>