<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
<div class="subtitle"><h2>Canciones más escuchadas</h2></div>
<div class="card" style="width: 70%; display: flex; align-items: center; padding: 1em; justify-content: space-between;">
    <img src="assets/Songs/backtoschool-deftones.webp" class="card-img" alt="Deftones">
    <div class="card-info">
      <h5 class="card-title">Deftones - Back to School</h5>
    </div>
    <div class="cta-section">
      <a href="https://youtu.be/1gxZIL4zpIQ?si=9m__IJixWFE0_URA" class="btn btn-primary">Escuchar</a>
    </div>
  </div>
  
  <div class="card" style="width: 70%; display: flex; align-items: center; padding: 1em; justify-content: space-between;">
    <img src="assets/Songs/waitandbleed-slipknot.webp" class="card-img" alt="Slipknot">
    <div class="card-info">
      <h5 class="card-title">Slipknot - Wait and Bleed</h5>
    </div>
    <div class="cta-section">
      <a href="https://youtu.be/IBy7TCSY2wk?si=1UcVeQCABDWIlhgJ" class="btn btn-primary">Escuchar</a>
    </div>
  </div>

  <div class="card" style="width: 70%; display: flex; align-items: center; padding: 1em; justify-content: space-between;">
    <img src="assets/Songs/blind-korn.webp" class="card-img" alt="Korn">
    <div class="card-info">
      <h5 class="card-title">Korn - Blind</h5>
    </div>
    <div class="cta-section">
      <a href="https://youtu.be/SGK00Q7xx-s?si=dIGMx87j0VIgO3gi" class="btn btn-primary">Escuchar</a>
    </div>   
  </div>

  <div class="card" style="width: 70%; display: flex; align-items: center; padding: 1em; justify-content: space-between;">
    <img src="assets/Songs/toxicity-soad.webp" class="card-img" alt="System Of A Down">
    <div class="card-info">
      <h5 class="card-title">System Of A Down - Chop Suey!</h5>
    </div>
    <div class="cta-section">
      <a href="https://youtu.be/CSvFpBOe8eY?si=OtXz2Pn6klrsVAr_" class="btn btn-primary">Escuchar</a>
    </div>
  </div>

  <div class="card" style="width: 70%; display: flex; align-items: center; padding: 1em; justify-content: space-between;">
    <img src="assets/Songs/breakstuff-limp.webp" class="card-img" alt="Limp Bizkit">
    <div class="card-info">
      <h5 class="card-title">Limp Bizkit - Break Stuff</h5>
    </div>
    <div class="cta-section">
      <a href="https://youtu.be/ZpUYjpKg9KY?si=WMJW6thP2X9GrNBM" class="btn btn-primary">Escuchar</a>
    </div>
  </div>
  