<div class="principal">
    <div class="title">
        <h1 class="num">Limp Bizkit</h1>        
    </div>
    <div class="line1"></div>

    <div class="subtitle">
        <h2>Introducción</h2>
    </div>
    <div class="flexbox"><div class="content">
        <p>Limp Bizkit es una banda estadounidense de nu metal originaria de Jacksonville, Florida, formada en 1994. Los integrantes fundadores son Fred <br>Durst, vocalista y compositor principal; Wes Borland, guitarrista y compositor; Sam Rivers, bajista; y John Otto, baterista.<br> La banda es conocida por su estilo musical fusionado de heavy metal, rap y rock alternativo, así como por sus letras agresivas y humorísticas.<br> Limp Bizkit alcanzó gran popularidad en la década de 1990 y principios del 2000..</p>
            <div class="subtitle">
                <h3>Historia</h3>
            </div>
            <p>La banda fue fundada por el vocalista Fred Durst, el guitarrista Wes Borland, el bajista Sam Rivers, y el baterista John Otto, primo de Rivers. Posteriormente, el DJ DJ Lethal (anteriormente de House of Pain) se unió a la formación, añadiendo más elementos de hip-hop al sonido de la banda.

                Antes de su éxito comercial, Limp Bizkit ganó popularidad en el circuito underground de Florida. En particular, Fred Durst se convirtió en amigo de los miembros de la banda Korn, quienes ayudaron a Limp Bizkit a firmar un contrato discográfico con Flip/Interscope Records.</p>
    </div>
    <div class="container">
        <div class="imgPrincipal"><img src="assets/Bands/Limp Bizkit.jpg" alt=""></div>
        </div>
    </div>
    
    
    <div class="line2"></div>    
</div>
<div class="title">
    <h1 class="num1">Albúms</h1>        
</div>
<app-carousel
    img1URL="assets/limp/choc.jpg"
    title0="Chocolate Starfish and the Hot Dog Flavored Water"
    img2URL="assets/limp/gold.jpg"
    title2="Gold Cobra"
    img3URL="assets/limp/res.jpg"
    title3="Results May Vary"
    img4URL="assets/limp/sig.jpg"
    title4="Significant Other"
    img5URL="assets/limp/still.jpg"
    title5="Still Stucks"
    img6URL="assets/limp/the.jpg"
    title6="The Unquestionable Truth (Part 1)"
    img7URL="assets/limp/three.jpg"
    title7="Three Dollar Bill, Y'all"
></app-carousel>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Eater&family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">