<div class="title">
    <h1 class="num">BANDS</h1>        
</div>
<div class="line1"></div>
<app-cards
    imgURL="assets/Bands/Deftones.webp"
    h3Title="Deftones"
    pDescription="Korn es una banda de nu metal originaria de Bakersfield, California, Estados Unidos, fundada en 1993. La formación actual incluye a <br>
    James “Munky”  Shaffer (guitarra), Reginald “Fieldy” Arvizu (bajo), Brian “Head” Welch (guitarra), Jonathan Davis (voz) y Ray Luzier <br>
    (batería)."
    hrefLink=""
></app-cards>

<app-cards
    imgURL="assets/Bands/Limp Bizkit.jpg"
    h3Title="Limp Bizkit"
    pDescription="Limp Bizkit es una banda estadounidense de nu metal originaria de Jacksonville, Florida, formada en 1994. Los integrantes fundadores son Fred <br>Durst, vocalista y compositor principal; Wes Borland, guitarrista y compositor; Sam Rivers, bajista; y John Otto, baterista.<br> La banda es conocida por su estilo musical fusionado de heavy metal, rap y rock alternativo, así como por sus letras agresivas y humorísticas.<br> Limp Bizkit alcanzó gran popularidad en la década de 1990 y principios del 2000."
></app-cards>

<app-cards
    imgURL="assets/Bands/Korn.jpg"
    h3Title="Korn"
    pDescription="Korn es una banda estadounidense de nu metal formada en 1993 en Bakersfield, California, y es considerada una de las pioneras del género.<br> La formación original incluye a Davis (vocalista), James Munky Shaffer (guitarrista), Brian Head Welch (guitarrista),<br> Reginald Fieldy Arvizu (bajista) y David Silveria (baterista hasta 2006). Su sonido oscuro y agresivo aborda temas de abuso y dolor emocional.<br> Su álbum debut *Korn* (1994) y *Follow the Leader* (1998) les dieron reconocimiento mundial, influyendo en numerosas bandas posteriores."
></app-cards>

<app-cards
    imgURL="assets/Bands/linkin park.jpeg"
    h3Title="Linkin Park"
    pDescription="Linkin Park fue una banda estadounidense de rock alternativo y nu metal formada en 1996 en Agoura Hills, California, reconocida por fusionar <br>géneros como rock, metal, hip hop y música electrónica. Su álbum debut *Hybrid Theory* (2000) fue un éxito mundial, con sencillos como <br>In the End y Crawling. Los miembros más destacados incluyeron a Chester Bennington, Mike Shinoda, Brad Delson, Rob Bourdon, Joe Hahn <br> y Dave Phoenix Farrell. Con letras introspectivas que abordaban dolor emocional y lucha interna, la banda alcanzó aún más éxito con *Meteora* <br>(2003). Tras la muerte de Bennington en 2017, la banda entró en receso."
></app-cards>

<app-cards
    imgURL="assets/Bands/soad.jpg"
    h3Title="System Of A Down"
    pDescription="System of a Down es una banda estadounidense de metal alternativo formada en 1994 en Los Ángeles, reconocida por su estilo que mezcla metal, <br> rock progresivo y música armenia tradicional con letras de fuerte contenido político y social. Sus miembros, Serj Tankian, Daron Malakian, <br>Shavo Odadjian y John Dolmayan, son conocidos por su sonido dinámico y cambios de ritmo abruptos. Con álbumes icónicos como *Toxicity* <br>(2001) y *Mezmerize* (2005), la banda ha abordado temas como los derechos humanos y el genocidio armenio, manteniendo su influencia en la <br> música a pesar de pausas en su actividad."
    aPage=""
></app-cards>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">
