<div class="principal">
    <div class="title">
        <h1 class="num">Linkin Park</h1>        
    </div>
    <div class="line1"></div>

    <div class="subtitle">
        <h2>Introducción</h2>
    </div>
    <div class="flexbox"><div class="content">
        <p>Linkin Park fue una banda estadounidense de rock alternativo y nu metal formada en 1996 en Agoura Hills, California, reconocida por fusionar géneros como rock, metal, hip hop y música electrónica. Su álbum debut *Hybrid Theory* (2000) fue un éxito mundial, con sencillos como In the End y Crawling. Los miembros más destacados incluyeron a Chester Bennington, Mike Shinoda, Brad Delson, Rob Bourdon, Joe Hahn  y Dave Phoenix Farrell. Con letras introspectivas que abordaban dolor emocional y lucha interna, la banda alcanzó aún más éxito con *Meteora* (2003). Tras la muerte de Bennington en 2017, la banda entró en receso.</p>
            <div class="subtitle">
                <h3>Historia</h3>
            </div>
            <p> Linkin Park es una de las bandas más influyentes y exitosas de la escena musical del siglo XXI. Formada en 1996 en Agoura Hills, California, la banda alcanzó la fama mundial con su mezcla innovadora de nu metal, rock alternativo y elementos electrónicos, que resonó con audiencias de todo el mundo. A lo largo de su carrera, vendieron más de 100 millones de discos y ganaron múltiples premios Grammy, dejando una marca indeleble en la música.
                Linkin Park se formó originalmente bajo el nombre Xero por los amigos de la escuela secundaria Mike Shinoda, Brad Delson y Rob Bourdon. Más tarde, el bajista Dave "Phoenix" Farrell y el DJ y programador Joe Hahn se unieron a la banda. A pesar de grabar un demo en 1997, la banda no pudo asegurar un contrato discográfico. En 1999, Chester Bennington, un cantante con una voz poderosa y emocional, se unió a la banda como vocalista principal, marcando el comienzo de su transformación. Cambiaron su nombre a Linkin Park (inspirado en el Lincoln Park de Santa Mónica, California) y comenzaron a perfeccionar su sonido distintivo.</p>
    </div>
    <div class="container">
        <div class="imgPrincipal"><img src="assets/Bands/linkin park.jpeg" alt=""></div>
        </div>
    </div>
    
    
    <div class="line2"></div>    
</div>
<div class="title">
    <h1 class="num1">Albúms</h1>        
<app-carousel
    img1URL="assets/lin/a.jpg"
    title0="A Thousand Suns"
    img2URL="assets/lin/hy.jpg"
    title2="Hybrid Theory"
    img3URL="assets/lin/liv.jpg"
    title3="Living Things    "
    img4URL="assets/lin/met.jpg"
    title4="Meteora"
    img5URL="assets/lin/min.jpg"
    title5="Minutes to Midnight"
    img6URL="assets/lin/on.jpeg"
    title6="One More Light"
    img7URL="assets/lin/the.jpg"
    title7="The Hunting Party"
></app-carousel>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Eater&family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">