<div class="principal">
    <div class="title">
        <h1 class="num">Korn</h1>        
    </div>
    <div class="line1"></div>

    <div class="subtitle">
        <h2>Introducción</h2>
    </div>
    <div class="flexbox"><div class="content">
        <p>Korn es una banda estadounidense de nu metal formada en 1993 en Bakersfield, California, y es considerada una de las pioneras del género. La formación original incluye a Davis (vocalista), James Munky Shaffer (guitarrista), Brian Head Welch (guitarrista), Reginald Fieldy Arvizu (bajista) y David Silveria (baterista hasta 2006). Su sonido oscuro y agresivo aborda temas de abuso y dolor emocional. Su álbum debut *Korn* (1994) y *Follow the Leader* (1998) les dieron reconocimiento mundial, influyendo en numerosas bandas posteriores.</p>
            <div class="subtitle">
                <h3>Historia</h3>
            </div>
            <p>KoRn se formó en 1993, con la combinación de LAPD, que era la banda formada por Munky(guitarra), David Silveria(batería), Fieldy(bajo) y sólo en tour, no en el disco, Brian "Head"(guitarra), con Jonathan Davis de Sexart.

                Los integrantes de LAPD, Munky, Davis, Fieldy y Brian crecieron todos juntos en Bakersfield, California. Fieldy y Brian fueron al colegio juntos y empezaron a tocar juntos. Después le dijeron a Munky, quien también iba a la escuela con ellos, si quería entrar en la banda.
                
                Después, David escuchó que necesitaban un baterista, por lo que se contactó con Fieldy. Cuando empezaron él era tan joven que su mamá tenía que ir a dejarlo a los ensayos.
                
                Jon se agregó después a la banda, cuando Munky y Brian fueron una noche a un bar en Bakersfield, donde por casualidad estaba tocando Sexart. De acuerdo a Munky, ellos estaban a punto de irse, cuando Jon empezó a cantar, y los dos quedaron muy sorprendidos y vieron todo el show. Luego le preguntaron si quería entrar a la banda. Al principio no quería, pero un síquico le dijo que sería estúpido si no aceptaba, así que fue a probar. Todo el resto de la banda supo en ese momento que él era el vocalista indicado para el grupo.</p>
    </div>
    <div class="container">
        <div class="imgPrincipal"><img src="assets/Bands/Korn.jpg" alt=""></div>
        </div>
    </div>
    
    
    <div class="line2"></div>    
</div>
<div class="title">
    <h1 class="num1">Albúms</h1>        
</div>
<app-carousel
    img1URL="assets/Korn/follow.jpg"
    title0="Follow The Leader"
    img2URL="assets/Korn/Issues.jpg"
    title2="Issues"
    img3URL="assets/Korn/Korn.jpg"
    title3="Korn"
    img4URL="assets/Korn/LifeIsPeachy.jpg"
    title4="Life Is Peachy"
    img5URL="assets/Korn/see.jpg"
    title5="See You on the Other Side"
    img6URL="assets/Korn/take.jpg"
    title6="Take a Look in the Mirror"
    img7URL="assets/Korn/unto.jpg"
    title7="Untouchables"
></app-carousel>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Eater&family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">