<div class="principal">
    <div class="title">
        <h1 class="num">NU METAL</h1>        
    </div>
    <div class="line1"></div>

    <div class="subtitle">
        <h2>The beginning</h2>
    </div>
    <div class="flexbox"><div class="content">
        <p>El Nu Metal (o Nü Metal) es un subgénero del rock alternativo que surgió a principios de la década de 1990. Se caracteriza por su sonido agresivo y experimental, fusionando elementos del metal, el hip hop, el funk y el grunge.
            El Nu Metal ha evolucionado a lo largo de los años, incorporando elementos de otros géneros como el metalcore, el djent y el trap.
            Mayores exponentes de la primera ola: Korn, Limp Bizkit, Deftones, Linkin Park, Slipknot, System of a Down, Papa Roach.</p>
    </div>
    <div class="imgPrincipal"><img src="assets/NUMETAL.jpg" alt=""></div></div>
    
    
    <div class="line2"></div>    
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Eater&family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">