<div class="principal">
    <div class="title">
        <h1 class="num">NU METAL</h1>        
    </div>
    <div class="line1"></div>

    <div class="subtitle">
        <h2>Nu Metal</h2>
    </div>
    <div class="flexbox"><div class="content">
        <p>El nu metal (también conocido como new metal y en Chile simplemente llamado aggro o aggro metal) es un subgénero musical surgido a mediados de los ’90 e influenciado por estilos como: grunge, funk, rap y algunos subgéneros del heavy metal, como groove metal, thrash metal, metal alternativo, rap metal y funk metal.

            La música nu metal enfatiza la atmósfera, el ritmo y la textura por encima de la melodía y la instrumentación. A menudo, las canciones de nu metal usan riffs rítmicos y sincopados, tocados con distorsionadas guitarras eléctricas afinadas en rangos bajos para crear una música más oscura que la tradicional y generalmente muy repetitiva.
            
            Las bandas que dieron origen al género fueron Korn (con su álbum homónimo en 1994) y Deftones con su disco de 1995, Adrenaline, incluyendo el album Three Dollar Bill, Yall de Limp Bizkit, en 1996.</p>
            <div class="subtitle">
                <h3>Definición</h3>
            </div>
            <p>El término fue usado por nuevas generaciones como new metal. La categorización de artistas específicos como nu metal es difícil, un asunto que se hace más evidente en la comunidad online de fanáticos del metal tradicional que se ofenden por este término. El nu metal comenzó como una mezcla de diferentes géneros, por eso la definición no es sólida, lo que sí es seguro es que no se le puede considerar específicamente un subgenero del heavy metal. El álbum Meteora de Linkin Park, por ejemplo, es listado como «alternativo» en AOL Music Now6 y en tres géneros diferentes en Metacritic.

                Como su estilo no estaba claramente definido, las bandas de nu metal fueron a menudo consideradas dentro de otros géneros. Por ejemplo, Ill Niño, Slipknot y System Of A Down entran en el metal alternativo, Limp Bizkit, P.O.D., Linkin Park y Resorte en el rap metal, Godsmack y Disturbed en el heavy metal.
                
                Si bien Korn fue una de las bandas que fundó el género, ellos no quieren ubicarse en esta categoría. En una entrevista, Jonathan Davis afirmo que, segun el, «… odian el término nu metal», argumentando que «…no significa nada».
                
                Pero después se retractarían de eso en el 2009: en una entrevista hecha a Fieldy, indica que no le da importancia a las etiquetas y que está cómodo con el término «nu metal».</p>
    </div>
    <div class="container">
        <div class="imgPrincipal"><img src="assets/NUMETAL.jpg" alt=""></div>
        </div>
    </div>
    
    
    <div class="line2"></div>    
</div>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Eater&family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">