.principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
  }
  

  .title h1.num {
    font-size: 4em;
    font-family: 'Metal Mania', cursive;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000; 
  }

  body {
    background-color: #f5eef8; 
    font-family:Georgia, 'Times New Roman', Times, serif
  }

  .line1, .line2 {
    width: 80%;
    height: 3px;
    background-color: #e6e6e6; /* Línea gris clara */
    margin: 1em 0;
  }
  
  .subtitle h2 {
    font-size: 2.5em;
    font-family: 'Comic Sans MS', cursive;
    text-transform: uppercase;
    color: #000;
    margin: 0.5em 0;
  }
  
  .imgPrincipal {
    margin: 1.5em 0;
    flex: 0.5;
    text-align: right;
  }
  
  .imgPrincipal img {
    max-width: 200px;
    border-radius: 0.5em;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
/* 

  


   */  