<div class="principal">
    <div class="title">
        <h1 class="num">System Of A Down</h1>        
    </div>
    <div class="line1"></div>

    <div class="subtitle">
        <h2>Introducción</h2>
    </div>
    <div class="flexbox"><div class="content">
        <p>System of a Down es una banda estadounidense de metal alternativo formada en 1994 en Los Ángeles, reconocida por su estilo que mezcla metal,
            rock progresivo y música armenia tradicional con letras de fuerte contenido político y social. Sus miembros, Serj Tankian, Daron Malakian,
            Shavo Odadjian y John Dolmayan, son conocidos por su sonido dinámico y cambios de ritmo abruptos. Con álbumes icónicos como *Toxicity*
            (2001) y *Mezmerize* (2005), la banda ha abordado temas como los derechos humanos y el genocidio armenio, manteniendo su influencia en la
            música a pesar de pausas en su actividad.</p>
            <div class="subtitle">
                <h3>Historia</h3>
            </div>
            <p>System of a Down (SOAD) es una banda de metal alternativo formada en Los Ángeles, California, en 1994, conocida por combinar géneros como el heavy metal, el rock alternativo, el folk armenio y elementos de música experimental. Sus letras abordan temas políticos, sociales y emocionales, lo que ha generado un impacto considerable en la música y el activismo.
                El nombre fue inspirado en un poema escrito por Malakian llamado “Victims of a Down”, cambiando “Victims” por “System” para sonar más universal.

                Desde el principio, SOAD destacó por su estilo musical único y su energía en los escenarios, fusionando metal con influencias étnicas armenias y melodías inusuales. En 1997, el productor Rick Rubin los descubrió y les ofreció un contrato discográfico, lo que llevó a su primer álbum.
            </p>
    </div>
    <div class="container">
        <div class="imgPrincipal"><img src="assets/Bands/soad.jpg" alt=""></div>
        </div>
    </div>
    
    
    <div class="line2"></div>    
</div>
<div class="title">
    <h1 class="num1">Albúms</h1>        
<app-carousel
    img1URL="assets/soad/soad.jpg"
    title0="System Of A Down"
    img2URL="assets/soad/chop.jpg"
    title2="Chop Suey!"
    img3URL="assets/soad/hyp.jpg"
    title3="Hypnotize"
    img4URL="assets/soad/steal.png"
    title4="Steal This Album!"
    img5URL="assets/soad/sug.png"
    title5="Sugar"
    img6URL="assets/soad/tox.jpg"
    title6="Toxicity"
    img7URL="assets/soad/mez.jpg"
    title7="Mezmerize"
></app-carousel>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Eater&family=Kalnia+Glaze:wght@100..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap" rel="stylesheet">